.ant-picker {
  color: #000000;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: #5b3277 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected:hover .ant-picker-cell-inner,
.ant-picker-cell-range-hover-start .ant-picker-cell-inner,
.ant-picker-cell-range-hover-end .ant-picker-cell-inner,
.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #5b3277 !important;
  color: white !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background: #dfdfdf;
}

.ant-picker-range .ant-picker-active-bar {
  background-color: #5b3277 !important;
}

.ant-picker-range-separator {
  color: #5b3277 !important;
}

.ant-picker-time-panel-column
  .ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background-color: #5b3277 !important;
  color: white !important;
}



.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #9e72b5 !important;
}

.ant-picker-ok button {
  background-color: #5b3277 !important;
  border-color: #5b3277 !important;
  color: white !important;
}

.ant-picker-ok button:hover {
  background-color: #4e2964 !important;
  border-color: #4e2964 !important;
}

.ant-picker-disabled {
  background-color: #f5f5f5 !important;
  color: #bfbfbf !important;
}

.ant-picker-range .ant-picker-input:first-child .ant-picker-range-separator {
  background-color: #5b3277 !important;
}

.ant-picker {
  border-color: #e2bff3!important;
  border-radius:5px;
  padding: 0px 10px !important;
  width: 100% !important;
  .ant-picker-input{
    input{
      letter-spacing: -0.15px;
      color: rgba(0, 0, 0, 0.88) !important;
    }
  }
}

.ant-picker:hover,
.ant-picker:focus,
.ant-picker:focus-within {
  border-color: #753194!important
}

.ant-picker-outlined.ant-picker-status-error{
  border-color: #ff4d4f !important;
}


