$primary-dark-color: #5b0384;
$primary-color: #753195;
$primary-light-color: #e2bff3;
$primary-light-bg-color: #fff;
// $primary-dark-bg-color: #5672ea;
$primary-dark-bg-color: #1d39a9;
$primary-light-bg-color: #7b93ef; //chat window agent header bg
$secondary-dark-color: #717171;
$secondary-color: #636363;
$active-tab-count-bg-color: #cfe0f5;
$active-tab-count-font-color: #4d92ee;
$inactive-tab-count-bg-color: #e5e6e8;
$inactive-tab-count-font-color: #858586;
$sidebar-width: 225px;
$layout-bg-gradient-color: linear-gradient(
  180deg,
  $primary-dark-bg-color 0%,
  #a7cdef 100%
);
$btn-primary-color: #ffc670;
